<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 col-xs-12 container-outter">
      <div class="form-box d-flex flex-column align-items-center justify-content-evenly">
        <div class="indication-box">
          <h1 class="text-center">Medical Report</h1>
           <p class="text-center small-letters">This form is to be completed by the <br> Doctor's patient.</p>
        </div>
        <%= simple_form_for [@treatment, @patient, @medical_report] do |f| %>
          <%= f.input :hospital %>
          <%= f.input :diagnosis%>
          <div class="btn-container mt-4 d-flex justify-content-center">
            <%= f.submit :class => 's-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
