<div class="container">
  <div class="tab_box">
    <div class="category-tab">
      <h1>Injury Location</h1>
    </div>
  </div>
  <div class="container text-center">
    <div class="card-product medical-condition">
      <%=image_tag "img_place_holder.jpg" %>
      <div class="card-product-infos">
        <h2><%= link_to "Medical", treatments_path(age_group: params[:age_group], location: params[:location], type: "medical") %></h2>
      </div>
    </div>
  </div>

 
    <div class="card m-3">
      <div class="trauma">
        <%= image_tag "img_place_holder.jpg" %>
        <%= link_to "Trauma", treatments_path(age_group: params[:age_group], location: params[:location], type: "trauma") %>
      </div>
    </div>
  </div>
</div>
