<div class="whole-index-condition-container d-flex flex-column align-items-center">

  <div class="index-condition-category-box d-flex flex-column align-items-center justify-content-center">
    <h1>Condtion</h1>
    <h5>(Select the type of condition)</h5>
  </div>

  <div class="index-condition align-items-center">
    <div class="row cond-row">
      <% @treatments.each do |treatment| %>
        <div class="col-6">
          <div class="condition-whole-box">
            <div class="condition-top-box">
              <div class="top-condition-pic">
                <%= cl_image_tag treatment.condition.photo.key, height: 300, width: 400, crop: :fill, class:"condition-images" %>
              </div>
            </div>
            <div class="condition-bot-box text-center">
              <h4><%= link_to treatment.condition.name.capitalize, treatments_path(age_group: params[:age_group], location: params[:location], type: params[:type], condition: treatment.condition.name) %></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
