<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 col-xs-12">
      <div class="card-box mt-3 pt-3">
        <div class="category-title">
          <h1>Injury Location</h1>
          <h5>Select your injury place</h5>
        </div>
          <%= render "shared/body" %>
      </div>
    </div>
  </div>
</div>
