<div class="container">
  <div class="tab_box">
    <div class="category-tab">
      <h1>Injury Location</h1>
    </div>
  </div>
  <div class="container text-center d-flex flex-column">
    <div class="card m-3">
      <div class="medical-condition ">
        <%= image_tag "img_place_holder.jpg" %>
        <%= link_to "Medical" %>
      </div>
    </div>
    <div class="card m-3">
      <div class="trauma">
        <%= image_tag "img_place_holder.jpg" %>
        <%= link_to "Trauma", treatments_path(age_group: params[:age_group], location: params[:location], type: "trauma") %>
      </div>
    </div>
  </div>
</div>
