<div class="container d-flex flex-column dashbody">
 <div class="tab_box">
    <div class="category-tab">
      <h1>Injury Location</h1>
    </div>
  </div>

  <div class="adult-body d-flex justify-content-center mt-4">
    <%= image_tag "adult.png" %>
    <%= link_to "", treatments_path(age_group: params[:age_group], location: "arm"), {class: "long-line"} %>
  </div>
</div>
