  <div class="dash-top d-flex flex-column justify-content-between">
      <div class="p-2 condition-info-box">
        <h1 class="text-center mb-4">Condition</h1>
        <h6 class="text-center">Select a condition</h6>
     </div>
    <div class="p-2 card-condition flex-grow-1">
      <div class="card-category indjury-condition text-center">
        <% @treatments.each do |treatment| %>
          <div class="card-trip mt-3">
            <%= cl_image_tag treatment.condition.photo.key, height: 300, width: 400, crop: :fill, class:"condition-images mt-3" %>
            <span>
              <%= link_to treatment.condition.name.capitalize, treatments_path(age_group: params[:age_group], location: params[:location], type: params[:type], condition: treatment.condition.name) %>
              <p> <%= treatment.condition.description %></p>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
