<div class="outer-container">
  <div class="container d-flex justify-content-evenly align-items-center flex-column py-5 height-adjust">

    <div class="adult-age text-center">
    <%= link_to "Adult",  treatments_path(age_group: "adult") %>
    </div>

    <div class="child-age text-center">
      <%= link_to "Child",  treatments_path(age_group: "child") %>
    </div>

  </div>
</div>
