<div class="container">

<div class="adult-age">
 <%= link_to "Adult",  treatments_path(age_group: "adult") %>
</div>

<div class="child-age">
  <%= link_to "Child",  treatments_path(age_group: "child") %>
</div>

</div>
