<div class="whole-treatment-show-container">
  <div class="treament-show-top d-flex justify-content-center align-items-center">
    <%= image_tag "instructions.png", class:"instruction-pic" %>
  </div>

  <div class="treatment-show-bot d-flex flex-column align-items-center justify-content-evenly">
    <h1>Instructions to follow</h1>

    <div class="protocol-instruction d-flex flex-column align-items-center justify-content-center">
      <h3>
        Please follow every steps in this Protocol file. Use the emergency call if needed.
        <i class="fa-solid fa-phone iphone"></i>
      </h3>

      <div class="btn-download-create mt-4 d-flex flex-column justify-content-center align-items-center">
        <div class="btn-download d-flex flex-column justify-content-center align-items-center">
          <a href=<%=cl_image_path (@treatment.images.key)%> target="_blank">Download Protocol</a>
        </div>
          <% if params[:completed] != "true" %>
            <div class="create-report d-flex flex-column justify-content-center align-items-center">
                <%= link_to "Create Paitent Report", new_treatment_patient_path(@treatment, @patient)%>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
