
  <h1 class="text-center mt-5">Please follow every step in this Protocol file. <br> <strong>Use the emergency call if needed </strong><i class="fa-solid fa-phone"></i></h1>
  <div class="container d-flex justify-content-center looks-margin">
    <div class="card card-looks p-3">
      <h1>Result</h1>
      <p>Treatment Protocol</p>
      <div class="card-content d-flex flex-column">
        <a href=<%=cl_image_path (@treatment.images.key)%> target="_blank">Protocol to follow</a>
        <% if params[:completed] != "true" %>
          <%= link_to "Associate a Patient", new_treatment_patient_path(@treatment, @patient) %>
        <% end %>
      </div>
    </div>
  </div>
