<div class="container">
  <div class="report card mt-5 p-3">
    <h1 class ="text-center">Patient info</h1>
    <h3><strong>Name:</strong> <%=@patient.first_name.capitalize%>  <%=@patient.last_name.capitalize%></h3>
    <h3><strong>Age:</strong> <%=@patient.age%></h3>
    <h3><strong>Medical History:</strong> <%= @patient.medical_history %> </h3>
