.adult-body img{
  width: 200px;
  position: relative;
  z-index: -1;
}

.long-line{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height: 200px;
  position: relative;~
  
  //opacity: 0;
}
