.adult-body img{
  width: 200px;
  position: relative;
}

.long-line{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height: 200px;
  position: relative;
  top: -420px;
  left: 100px;
  //opacity: 0;
}
