.adult-body img{
  width: 200px;
  position: relative;
  z-index: -1;
}

.leftarm1{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height: 180px;
  position: relative;
  top: 70px;
  left: -50px;
  //opacity: 0;
}

.leftarm2{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height:110px;
  position: relative;
  top: 70px;
  left: -80px;
  //opacity: 0;
}

.rightarm1{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height:120px;
  position: relative;
  top: 70px;
  left: -200px;
  //opacity: 0;
}


.rightarm2{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height: 180px;
  position: relative;
  top: 70px;
  left: -230px;
  //opacity: 0;
}

.torax{
  text-decoration: none;
  background-color: black;
  width: 70px;
  height: 60px;
  position: relative;
  top: 70px;
  left: -200px;
  //opacity: 0;
}

.face{
  text-decoration: none;
  background-color: black;
  width: 70px;
  height: 60px;
  position: relative;
  top: 5px;
  left: -245px;
  border-radius: 50%;
  //opacity: 0;
}

.abd{
  text-decoration: none;
  background-color: black;
  width: 70px;
  height: 60px;
  position: relative;
  top: 140px;
  left: -200px;
  //opacity: 0;
}
.leftleg1{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height: 180px;
  position: relative;
  top: 200px;
  left: -50px;
  //opacity: 0;
}

.leftleg2{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height:110px;
  position: relative;
  top: 200px;
  left: -80px;
  //opacity: 0;
}

.rightleg1{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height:120px;
  position: relative;
  top: 200px;
  left: -200px;
  //opacity: 0;
}

.rightleg2{
  text-decoration: none;
  background-color: black;
  width: 30px;
  height: 180px;
  position: relative;
  top: 200px;
  left: -230px;
  //opacity: 0;
}
