body {
  background-color: linear-gradient(180deg, #FFFFFF 0%, #EDF5FD 100%);
}

.bg-color {
  background-image: linear-gradient(rgba(103, 173, 238, 0.889), rgba(2, 63, 142, 0.921));
  height: 100vh;
}
