.human-body {
  width: 207px;
  position: relative;
  padding-top: 240px;
  height: 260px;
  display: block;
}

.human-body svg:hover {
  cursor: pointer;
}

.human-body svg:hover path {
  fill: #6FEDD6;
}

.human-body svg {
  position: absolute;
  left: 50%;
  fill: #ea7922;
}

.human-body svg.head {
  margin-left: -20.5px;
  top: 25px;
  width: 38px;
  height: 82px;
}

.human-body svg.torax2 {
  margin-left: -40.5px;
  top: 80px;
  width: 81px;
}

.human-body svg.arm {
  margin-left: -57px;
  top: 98px;
  width: 114px;
}

.human-body svg.torax {
  margin-left: -31.5px;
  top: 93px;
  width: 63px;
}

.human-body svg.abdomen {
  margin-left: -37.5px;
  top: 130px;
  height: 68px;
}

.human-body svg.leg {
  margin-left: -46px;
  top: 179px;
  z-index: 9999;
  height: 178px;
}

.human-body svg.arm2 {
  margin-left: -74.5px;
  top: 191px;
  width: 149px;
}

#area {
  display: block;
  width: 100%;
  clear: both;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-family: Courier New;
  color: #a5a5a5;
}

#area #data {
  color: black;
}

.torax {
  background-color: transparent;
  width: 86.58px;
  height: 45.07px;
}
.dash-top-body{
  height: 446px;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  bottom: 47.16%;
  background: #A2BBFB
}
.height-adjust-body {
  height: 33vh;
}

.body-info-box > h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 26px;

  color: black;
}

.body-info-box > h6 {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 14px;
color:  black;
}
