.log-in-button {
  background-color: #1DA1F2;
  border-radius: 15px;
  text-align: center;
  width:100%;
  color: white;
  font-weight: 400;
}

.sign-up-btn {
  text-decoration: none;
  background-color: #1DA1F2;
  border-radius: 15px;
  text-align: center;
  width:100%;
  color: white;
  font-weight: 400;
  padding: 6px 0 6px 0;
}

.forget-pw-btn  {
  text-decoration: none;
}

.new-treatment-btn {
  background-color: #1DA1F2;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  width: fit-content;
  padding: 10px;
  bottom: 50px;
}

.procedures-icon {
  background-color: #95d5fd;
  text-decoration: none;
  color: white;
  padding: 10px;
  bottom: 50px;
  width: 100%;
}
