.log-in-button {
  background-color: #1DA1F2;
  border-radius: 15px;
  text-align: center;
  width:100%;
  color: white;
  font-weight: 400;
}

.sign-up-btn {
  text-decoration: none;
  background-color: #1DA1F2;
  border-radius: 15px;
  text-align: center;
  width:100%;
  color: white;
  font-weight: 400;
  padding: 6px 0 6px 0;
}

.forget-pw-btn  {
  text-decoration: none;
}

.new-treatment-btn {
  background-color: #1DA1F2;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  width: fit-content;
  padding: 10px;
  bottom: 50px;
}

.procedures-icon {
  background-color: #95d5fd;
  text-decoration: none;
  color: white;
  padding: 10px;
  bottom: 50px;
  width: 100%;
}

.adult-age, .child-age {
  background-color: #ffffff;
  text-decoration: none;
  padding: 15px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 45px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0.8;
  width: fit-content;
}

.adult-age a {
  font-family: 'Lato';
  text-decoration: none;
  color: #77B5EF;
}

.child-age a {
  font-family: 'Lato';
  text-decoration: none;
  color: #77B5EF;
}
