.dash-top{
  height: 446px;
  width: 390px;
  left: 0px;
  top: 0px;
  position: absolute;
  bottom: 47.16%;
  background: linear-gradient(180deg, #596bd294 0%, rgba(0, 34, 154, 0) 100%);
}

.dash-top2 {
  background: linear-gradient(180deg, #7e93dc 0%, rgba(0, 34, 154, 0) 100%);
}

.dash-bottom {
  background: #eceffa;
  border-radius: 40px 40px 0px 0px;
  height: 520px;
  width: 390px;
  left: 0px;
  top: 324px;
  position: absolute;
  z-index: 1;
}

.dash-bottom2 {
  background: #eceffa;
  border-radius: 40px 40px 0px 0px;
  height: 520px;
  width: 390px;
  z-index: 1;
}

.auto-rotate-img {
  // position: absolute;
  height: 125px;
  width: 310px;
  left: 0px;
  top: 0px;
  // background: url(covid-banner.png);
  border-radius: 15px;
  background-position-x: -5px;
  background-position-y: -4px;
  background-repeat: no-repeat;
  list-style-type: none;
}

.banner-3 {
  width: 308px;
  background-position-x: -5px;
  background-position-y: -4px;
}


.carousel-inner {
  transition-property: opacity;
}

.avatar-place-holder{
  border-radius: 50%;
  width: 280px;
  height: 280px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.profile-box {
  text-align: center;
  height: 300px;
  margin-top: 45px;
}

.info-box {
  margin-top: 15px;
}
.position-dash-content {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: fit-content;
  margin: 1px 10px 20px 10px;
}

.user-info-box {
  position: absolute;
  width: 316px;
  height: 70px;
  left: 37px;
  top: 285px;
  background: #79B2E9;
  border-radius: 30px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}

.user-info-box2 {
  width: 316px;
  height: 70px;
  background: #79B2E9;
  border-radius: 30px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}

.user-info-box > h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  color: #FFFFFF;
}

.user-info-box > h6 {
  position: absolute;
left: 33.86%;
right: 36.39%;
top: 61.43%;
bottom: 18.57%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}

.img-button-container > h5 {
  margin-right: 187px;
  color: #000000;
  position: absolute;
  bottom: 298px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  z-index: 2;
}

.btn-box {
  margin-top: 29px;
}

.top-button-box {
  margin-right: 43px;
}
