.dash-top{
  height: 35%;
  width: 100%;
  left: 0px;
  top: -57px;
  position: absolute;

  background: linear-gradient(180deg, #596bd294 0%, rgba(0, 34, 154, 0) 100%);
}

.dash-top2 {
  background: linear-gradient(180deg, #7e93dc 0%, rgba(0, 34, 154, 0) 100%);
}

.dash-bottom {
  background: #eceffa;
  border-radius: 40px 40px 0px 0px;
  height: 66%;
  width: 100%;
  left: 0px;
  top: 221px;
  position: absolute;
  z-index: 1;
}

.dash-bottom2 {
  background: #eceffa;
  border-radius: 40px 40px 0px 0px;
  height: 520px;
  width: 390px;
  z-index: 1;
}

.auto-rotate-img {
  height: 125px;
  width: 310px;
  margin-top: 8%;
  border-radius: 15px;
  background-position-x: -5px;
  background-position-y: -4px;
  background-repeat: no-repeat;
  list-style-type: none;
}


.banner-3 {
  width: 72%;
  background-position-x: -5px;
  background-position-y: -4px;
}


.carousel-inner {
  transition-property: opacity;
}


.avatar-place-holder{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 41%;
}
.profile-box {
  text-align: center;
  height: 313px;
  margin-top: 45px;
}

.info-box {
  margin-top: 15px;
}
.position-dash-content {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: fit-content;
  margin: 1px 10px 20px 10px;
}

.user-info-box {
  width: 276px;
  height: 55px;
  background: #79B2E9;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}


.user-info-box2 {
  width: 316px;
  height: 70px;
  background: #79B2E9;
  border-radius: 30px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
}

.user-info-box > h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  color: #FFFFFF;
}

.user-info-box > h6 {

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}

.img-button-container > h5 {
  margin-right: 187px;
  color: #000000;


  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  z-index: 2;
}
.img-button-container > h6 {
  margin-right: 160px;
  color: #000000;


  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;

  color: #000000;
  z-index: 2;
}

.dashboard-info h5{
  font-family: "Lato";
}

.top-button-box {
  margin-right: 43px;
}
.carousel-item{
  margin-left: 15%;
}
