body {
  background: linear-gradient(293deg, #FFFFFF 0%, #EDF5FD 100%);
}

.medical-trauma-box {
  height: 88vh;
}

.medical-img, .trauma {
  width: 100%;
  border-radius: 10px;
  height: 172px;
  filter: brightness(0.5);
  opacity: 0.9;
}

.medical-h2 a, .trauma-h2 a {
  text-decoration: none;
  color: linear-gradient(180deg, #77B5EF 0%, #1B549C 100%);
  font-weight: 600;
  font-size: x-large;
  font-family: 'Lato';
}


.medical-h2, .trauma-h2 {
  margin-bottom: 0;
  padding: 10px;
}

.img-outer-box {
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
