.my-procedures button{
  padding-left: 10px;
}

.procedure-link{
  text-align: center;

  font-family: 'Lato';
  font-size: larger;
  text-decoration: none;
  color: black;

  width: 200px;
  height: 40px;

  width: fit-content;
  padding: 5px;
}
.my-procedures{
  border-radius: 10px;
  height: 250px;
  overflow:auto;
  width: 295px;
  padding: auto;
  padding: 5px;
}
.my-procedures1{
  border-radius: 10px;
  height: 240px;
  overflow:auto;
  width: 295px;
  padding: auto;
  padding: 5px;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
