.my-procedures button{
  padding-left: 10px;
}

.procedure-link{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lato';
  font-size: larger;
  text-decoration: none;
  color: white;
  background-color: rgb(132, 182, 223);
  border-radius: 15px;
  width: 200px;
  height: 40px;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.31);
  box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.31);
  width: fit-content;
  padding: 5px;
}
.my-procedures{
  border-radius: 10px;
  height: 250px;
  overflow: scroll;
  width: 295px;
  padding: auto;
  padding: 5px;
}
