.navbar-lewagon {
  justify-content: flex-start;
  background-color: transparent;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h2 {
color:#77B5EF;
font-family:'Avenir';
font-size: 20px;
opacity:0.4;


}

.ema-h2{
  flex-grow: 1;
}

.navbar-nav {
  border-radius: 15px;
}


.navbar-nav .dropdown-menu {
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;

}

.dropdown-item{
  color: #1DA1F2;
}
