.report{
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.signature img {
  width: 100px;
  margin-left: 50px;
}
.signature{
  padding-left: 40%;
}
.signature p{
  font-size: smaller;
}
.report h1{
  color: #77B5EF;
  font-weight: bolder;
}
