.report-top {
  height: 35%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  bottom: 47.16%;
  border-radius: 0 0 30px 30px;
  background: #93A5F8;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);
  z-index: 1;
}

.report-bot{
  background: #eceffa;
  height: 65%;
  width: 100%;
  left: 0px;
  top: 210px;
  position: absolute;
  padding: 15px 15px 0 15px;
}

.md-report {
  height: 154px;
  width: 154px;
}

.report-box-container {
  height: fit-content;
  width: fit-content;
  text-align: justify;
}

.report-box-container >h3 {
  padding: 10px;
}

a {
  text-decoration: none;
  z-index: 5;
}

.report-container {
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -26px;
  background-image: url(doctor-seal.jpg);
}

.signature img {
  width: 100px;
  margin-left: 50px;
}
.signature{
  padding-left: 40%;
}
.signature p{
  font-size: smaller;
}

.report-box-container > h1 {
  color: #77B5EF;
  font-weight: bolder;
  margin-top: 6px;
}

.doctor-seal {
  width: 100px;
  height: 100px;
}
